body{
    background: linear-gradient(to right, #00c6ff, #0072ff)
}

header{
    font-size: 110%;
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
}

.oculto {
    display: none;
}

fieldset.ventana{
    border: 2px solid #444;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
}

fieldset{
    font-size: 90%;
    font-family: Arial, Helvetica, sans-serif;
    border: 3px solid black;
    border-radius: 15px;
}

legend{
    font-weight: bold;
    font-size: 110%;
    font-family:Arial, Helvetica, sans-serif;
    display: inline-block;
    padding: 4px 18px;
    background-color: rgba(0, 34, 255, 0.344);
    border-radius: 6px;
    cursor: pointer;
}

input{    
    border-radius: 5px;
    height: 20px;
} 

input[type="checkbox"]{
    accent-color: #15780f;
    transform: scale(1.2);

}

input[type="radio"]{
    accent-color: #000000;
    transform: scale(1.2);
    transform-box: content-box;
}

.informe{
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 10px;
}

.informe label{
    font-size: 15px;
}

.firmas-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap; /* se acomoda en pantallas chicas */
  }

.firma-box {
    flex: 1;
    min-width: 250px;
    border-radius: 10px;
  }
  
canvas {
    border: 1px solid #000;
    width: 100%;
    height: 150px;
    background: #fff;
    cursor: crosshair;
    border-radius: 1cm;
  }