body {
  background: radial-gradient(circle, #429cf5, #3535ee);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login{
  background: rgba(32, 163, 172, 0.695);
  box-shadow: 25px 25px 20px rgba(14, 74, 79, 0.695);
  padding: 20px;
  border-radius: 15px;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
}

h3 {
    font-weight: bold;
    font-family:monospace;
    font-size: 200%;
}

input{
  border-radius: 10px;
  width: 150px;
  border: 2px solid;
  height: 20px;
  margin-bottom: 15px;
  outline: none;
}

input:focus{
  border-radius: 10px;
  width: 250px;
  height: 20px;
  border: 2px solid;
}

.inp{
  position: relative;
  margin: 15px 0;
  text-align:left;
}

.inp label{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-85%);
  pointer-events: none; 
  transition: 0.3s ease all;
  padding: 0 5px;
}

/*Efecto flotante del label */
.inp input:focus + label,
.inp input:not(:placeholder-shown) + label 
{
  top: -8px;
  left: 8px;
  font-size: 17px;
}

button{
    width: 55%;
    padding: 12px;
    background-color: #6868d6;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 150%;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    border-radius: 8px;
    cursor: pointer;
}

button:hover{
    background: linear-gradient(#429cf5, #1717df);
}


/** body {
  font-family: Arial, sans-serif;
  background: #f4f4f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: white;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
  width: 320px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-top: 10px;
}

input, textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.btn {
  display: block;
  margin-top: 15px;
  padding: 10px;
  width: 100%;
  background: #0077ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background: #005fcc;
}
